/**
 * @created 2014-06-02
 * @author  gideonparanoid
 */

.block {
   float : left;
   height : 50px;
   width : 50px;
   margin : 5px;
   box-sizing : border-box;
   
   background-color : #eeeeee;

   border-top : 5px solid #000000;
}


.block.rotation090 {
   -webkit-transform : rotate(90deg);
   -moz-transform : rotate(90deg);
   -o-transform : rotate(90deg);
   transform : rotate(90deg);
}

.block.rotation180 {
   -webkit-transform : rotate(180deg);
   -moz-transform : rotate(180deg);
   -o-transform : rotate(180deg);
   transform : rotate(180deg);
}

.block.rotation270{
   -webkit-transform : rotate(270deg);
   -moz-transform : rotate(270deg);
   -o-transform : rotate(270deg);
   transform : rotate(270deg);
}

.block.straight {
   border-top : 25px solid #000000;
   border-right : 25px solid #eeeeee;
   border-bottom : 25px solid #000000;
   border-left : 25px solid #eeeeee;
}

.block.bend {
   border-top : 25px solid #000000;
   border-right : 25px solid #eeeeee;
   border-bottom : 25px solid #eeeeee;
   border-left : 25px solid #000000;
}

.block.slow {
   background-color : #000000;
   border-top : 15px solid #000000;
   border-right : 15px solid #eeeeee;
   border-bottom : 15px solid #000000;
   border-left : 15px solid #eeeeee;
}

.block.fast {

}

.block.break {
   border : 5px solid red;
}

.block.alarm {
   border : 5px solid red;
}
