/**
 * @created 2014-06-02
 * @author  gideonparanoid
 */

.block {
   float : left;
   height : 50px;
   width : 50px;
   margin : 5px;
   background-color : #eeeeee;
}


.block.rotation090 {

}

.block.rotation180 {

}

.block.rotation270{

}

.block.straight {

}

.block.bend {

}

.block.slow {

}

.block.fast {

}

.block.break {

}

.block.alarm {

}
